.root {
  max-width: 1120px;
  z-index: 1;
  /*width: 100%;*/
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .root {
    margin: 0 11.1111%;
  }
}

@media screen and (max-width: 768px) {
  .root {
    margin: 0 6.6667%;
  }
}
