.root {
  max-width: 352px;
  align-self: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: linear-gradient(135deg, #4864eb 0%, #2841b6 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.title,
.title > p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  text-transform: capitalize;
  color: var(--main-text-color);
}
.title > p:first-child {
  margin-top: 40px;
  margin-bottom: 0;
}

.text,
.text > p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-text-color);
  margin-top: 32px;
}

.label,
.label > p {
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin-left: 16px;
  color: var(--main-text-color);
}
.label > p {
  margin-left: 0;
}
.label > strong,
.label > b,
.label > p > b {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: var(--main-text-color);
}

.footer {
  display: flex;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .root {
    max-width: 100%;
  }

  .title,
  .title > p {
    margin-top: 25px;
  }

  .text,
  .text > p {
    margin-top: 20px;
  }

  .footer {
    margin-top: 25px;
  }
}
