.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(246, 249, 251, 0) 0%, #f5f8fb 100%);
  position: relative;
  padding: 60px 6.6667% 65px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 92px;
  margin-bottom: 30px;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: var(--grey-text-color);
}

.highlightBlue {
  color: var(--primary-color);
}
.highlightOrange {
  color: #e19763;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}
