.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 494px;
  margin-top: 84px;
  background: linear-gradient(180deg, rgba(246, 249, 251, 0) 0%, #f5f8fb 100%);
  position: relative;
}

.wrapper {
  margin: 0 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 92px;
  margin-bottom: 30px;
}

.subtitle {
  padding: 0 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: var(--grey-text-color);
}

.highlight {
  color: var(--primary-color);
}
