.root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.root > button {
  margin-bottom: 16px;
}

.title {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .root {
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .root > * {
    margin-left: 16px;
  }

  .title {
    margin-bottom: 0;
    margin-right: 34px;
  }
}
