.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px 150px;
  justify-content: center;
  margin-top: 90px;
  padding: 0 240px;
}

@media screen and (max-width: 768px) {
  .root {
    margin-top: 54px;
    padding: 0 18px;
    row-gap: 44px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
