.title {
  font-size: 23px;
  line-height: 31px;
  font-weight: 600;
  color: var(--main-text-color);
  margin-top: 24px;
}
.text {
  font-size: 15px;
  font-weight: 500;
  line-height: 182.3%;
  color: var(--secondary-text-color);
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 16px;
    line-height: 21.86px;
    text-align: center;
  }
}
