.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text-color);
  margin-top: 24px;
}
.text {
  font-size: 15px;
  font-weight: 500;
  line-height: 182.3%;
  color: var(--second-text-color);
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .title {
    font-size: 16px;
    line-height: 21.86px;
    text-align: center;
  }
}
