.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 48px 32px;
  justify-content: center;
  margin-top: 82px;
}

@media screen and (max-width: 768px) {
  .root {
    margin-top: 54px;
    row-gap: 42px;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  }

  .wrapper {
    margin: 0 6.6667%;
  }
}
