.rootTitle {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rootTitle.active {
  color: var(--primary-color);
}

.title {
  margin-right: 10px;
}

.expandedMenu {
  height: 6px;
  transform: rotate(180deg);
  transform-origin: center center;
  transition: transform 0.25s linear;
}

.collapsedMenu {
  height: 6px;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.25s linear;
}

.svgIcon {
  display: block;
}

.rootContainer {
  position: absolute;
  top: 25px;
  left: -40px;
  opacity: 0;
  visibility: hidden;
}

.rootContainerVisible {
  animation: fadeIn 0.4s;
  opacity: 1;
  visibility: visible;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rootMenu {
  position: relative;
  z-index: 3;
  left: 0;
  top: 0;
  width: 300px;
  padding: 18px 0;
  background: #ffffff;
  border: 1px solid #e9eef3;
  box-sizing: border-box;
  box-shadow: 0 1px 43px rgba(59, 97, 163, 0.1);
  border-radius: 9px;
}
