.root {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  max-width: 516px;
}
.link {
  text-decoration: none;
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.menuButton {
  width: 20px;
  height: 20px;
}
