.item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text-color);
}

.subTitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--grey-text-color);
}
