.root {
  display: flex;
  position: relative;
}

.backgroundCover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 477px;
  z-index: -1;
  background: linear-gradient(
    102.33deg,
    rgba(246, 249, 251, 0) 4.99%,
    rgba(245, 248, 251, 0.21) 62.88%,
    #f5f8fb 98.08%
  );
}
