.root {
  padding-top: 155px;
  position: relative;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 54px 18px;
  gap: 44px 100px;
}

@media screen and (max-width: 768px) {
  .root {
    padding-top: 80px;
  }
}
