.root {
  padding-top: 58px;
  position: relative;
}

.infoBlockWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 18px;
}

.root > :last-child {
  padding-bottom: 127px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  background: linear-gradient(180deg, rgba(245, 248, 251, 0) 0%, #f5f8fb 100%);
}

@media screen and (max-width: 768px) {
  .root {
    padding-top: 40px;
  }
  .row {
    padding-bottom: 40px;
    grid-template-areas:
      'image'
      'info';
  }
  .row:last-child {
    padding-bottom: 40px;
  }
  .row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .image {
    grid-area: image;
  }
  .infoBlockWrapper {
    justify-content: flex-start;
    padding: 0;
    grid-area: info;
  }

  .mobileBackground {
    width: 100%;
    height: 568px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      102.33deg,
      rgba(246, 249, 251, 0) 4.99%,
      rgba(245, 248, 251, 0.21) 62.88%,
      #f5f8fb 98.08%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
  }
}
