.root {
  padding-top: 86px;
}
.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 44px 56px;
}

@media (max-width: 768px) {
  .root {
    padding-top: 54px;
  }
}
