.root,
.root > p {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 40px;
  line-height: 63px;
  text-align: center;
  text-transform: capitalize;
  max-width: 590px;
}
.root > p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .root,
  .root > p {
    font-size: 36px;
    line-height: 48px;
  }
}
