.root {
  padding-top: 155px;
  position: relative;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  justify-items: center;
  align-items: flex-start;
  padding: 100px 240px;
  gap: 44px 100px;
}

@media screen and (max-width: 768px) {
  .root {
    padding-top: 80px;
  }
  .itemsContainer {
    padding: 54px 18px;
  }
}
