.root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.root:nth-child(even) > .wrapper {
  flex-direction: row-reverse;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
}
