.root {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 110px;
}

.root:last-child {
  margin-bottom: 0;
}

.root:nth-child(even) > .wrapper {
  flex-direction: row-reverse;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper > div:nth-child(2) {
    display: flex;
    justify-content: center;
  }

  .wrapper > div:nth-child(2) > img {
    width: 100%;
    height: auto;
  }

  .root:nth-child(even) > .wrapper {
    flex-direction: column;
  }
}
