.root {
  background: #ffffff;
  margin-bottom: 1.45rem;
  box-shadow: 0px 4px 20px rgba(179, 192, 213, 0.25);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 1.0875rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginContainer {
  margin-right: 32px;
}
