.root {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(179, 192, 213, 0.25);
  z-index: 3;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0.845rem 0;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginContainer {
  margin-right: 32px;
}
