:root {
  --background-color: #f8f9fc;
  --main-text-color: #091f3e;
  --second-text-color: #5c6e80;
  --grey-text-color: #6c7787;
  --border-color: #e9eef3;

  --primary-color: #4864eb;
  --primary-hover-color: #507cf5;
  --disabled-color: #a9b2bb;
}
@font-face {
  font-display: swap;
  font-family: 'Manrope VF';
  src: url(../fonts/manrope/variable/ManropeGX.ttf)
    format('truetype-variations');
  font-style: normal;
  font-variation-settings: 'wght' 500;
  font-variation-ligatures: normal;
  font-weight: 200 800;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-ExtraLight.woff2) format('woff2');
  font-weight: 200;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: Manrope;
  src: url(../fonts/manrope/web/Manrope-ExtraBold.woff2) format('woff2');
  font-weight: 800;
}

body,
html,
input {
  font-family: Manrope, sans-serif;
  font-variation-settings: 'wght' 500;
}

/**
Main
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
end Main
 */

body {
  font-size: 1em;
  line-height: 1.65;
  color: var(--main-text-color);
  background: transparent;
  margin: 0;
}

.hide-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
  -webkit-tap-highlight-color: transparent;
}

hr {
  border-top: 1px solid rgba(44, 73, 122, 0.1);
}

p {
  font-weight: 500;
  font-size: 15px;
  line-height: 27.34px;
  color: var(--second-text-color);
}
strong {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: var(--main-text-color);
}

::placeholder {
  color: rgba(92, 110, 128, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 11.1111%;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

/** BUTTONS **/
.btn {
  padding: 15px 38px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  outline: none;
  border: 1.5px solid transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.primary-btn {
  background-color: var(--primary-color);
}

.primary-btn:hover {
  background-color: var(--primary-hover-color);
}

.success-btn {
  background-color: #5b9976;
}

.success-btn:hover {
  background-color: #97bfab;
}

.warning-btn {
  background-color: #d78153;
}

.warning-btn:hover {
  background-color: #e3975d;
}

.default-btn {
  background-color: #ffffff;
  color: var(--primary-color);
}

.primary-link-btn {
  all: unset;
  /* padding: 18px 32px; */
  color: var(--primary-color);
  font-weight: 500;
}

.primary-link-btn:hover {
  color: var(--primary-hover-color);
  cursor: pointer;
}

.disabled-btn {
  color: var(--second-text-color);
  border-radius: 10px;
  border: 1.5px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff;
}

/**END BUTTONS**/

.fullWidth {
  width: 100%;
}

/** Toggle Switcher */
.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  outline: none;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #e5e5ea;
  border-radius: 15px;
  margin: 0;
}
.toggle-switch-label:focus {
  outline: none;
}
.toggle-switch-label:focus > span {
  box-shadow: 0 0 2px 5px red;
}
.toggle-switch-label > span:focus {
  outline: none;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch-inner:before {
  content: attr(data-yes);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: var(--primary-color);
  color: #fff;
}
.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}
.toggle-switch-inner:after {
  content: attr(data-no);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #e5e5ea;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 2px;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border: 0 solid #bbb;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
  background: #fff;
}
.toggle-switch.small-switch {
  width: 40px;
}
.toggle-switch.small-switch .toggle-switch-inner:after,
.toggle-switch.small-switch .toggle-switch-inner:before {
  content: '';
  height: 20px;
  line-height: 20px;
}
.toggle-switch.small-switch .toggle-switch-switch {
  width: 16px;
  right: 20px;
  margin: 2px;
}
@media screen and (max-width: 991px) {
  .toggle-switch {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .toggle-switch {
    transform: scale(0.825);
  }
}
@media screen and (max-width: 575px) {
  .toggle-switch {
    transform: scale(0.75);
  }
}

/** End Toggle Switcher */

/** Root Menu styles */
.rootMenu:after {
  position: absolute;
  content: ' ';
  left: 50%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  box-shadow: -15px -15px 10px rgb(0 0 0 / 6%);
}
/** End Root Menu styles */
