body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #22344b;
  background: #f8fafc;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

/** BUTTONS **/

.primary-btn {
  background-color: #4865eb;
}

.primary-btn:hover {
  background-color: #507cf5;
}

.success-btn {
  background-color: #5b9976;
}

.success-btn:hover {
  background-color: #97bfab;
}

.warning-btn {
  background-color: #d78153;
}

.warning-btn:hover {
  background-color: #e3975d;
}

.default-btn {
  background-color: #ffffff;
  color: #4865eb;
}

.primary-link-btn {
  all: unset;
  /* padding: 18px 32px; */
  color: #4865eb;
  font-weight: 500;
}

.primary-link-btn:hover {
  color: #507cf5;
  cursor: pointer;
}

/**END BUTTONS**/
