.root {
  position: relative;
  padding-top: 136px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas: 'a b';
  padding: 130px 0 225px 0;
}
/* .container {
  display: flex;
  justify-content: flex-end;
  padding: 130px 190px 225px 0;
} */
.leftSide {
  justify-self: flex-end;
  align-self: center;
  grid-area: a;
  padding: 66px 0 0 68px;
  max-width: 435px;
  position: relative;
  margin-top: 140px;
}
.rightSide {
  grid-area: b;
}

.iconWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.text {
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: var(--main-text-color);
}
.author {
  font-weight: 600;
  font-size: 23px;
  line-height: 50px;
  color: var(--main-text-color);
  margin-top: 30px;
}
.work {
  font-weight: 500;
  font-size: 15px;
  line-height: 182.3%;
  color: var(--second-text-color);
}

@media (max-width: 768px) {
  .iconWrapper {
    scale: 0.48;
    top: -40px;
    left: -40px;
  }
  .text {
    font-size: 23px;
    line-height: 170.1%;
  }
  .author {
    font-size: 20px;
    line-height: 27px;
  }

  .work {
    font-size: 15px;
    line-height: 182.3%;
  }

  .container {
    padding-top: 48px;
    padding-bottom: 77px;
    grid-template-areas:
      'b b'
      'a a';
  }
  .leftSide {
    margin-top: 20px;
    padding: 24px 0 0 18px;
    justify-self: center;
  }
}
