.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 115px 0 112px;
  position: relative;
}
.comingSoonLabel {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #e19763;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  z-index: 1;
}
.bigMargin {
  margin-top: 45px;
}
.buttonContainer {
  text-align: center;
}
.imageWrapper {
}
.labelContainer {
  margin-top: 10px;
}

.backgroundCover {
  position: absolute;
  width: 100%;
  height: 968px;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
  background: linear-gradient(180deg, rgba(246, 249, 251, 0) 0%, #f5f8fb 100%);
}

@media (max-width: 768px) {
  .root {
    padding: 56px 0 0;
  }
  .backgroundCover {
    height: 708px;
    width: 100%;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    background: linear-gradient(
      180deg,
      rgba(246, 249, 251, 0) 0%,
      #f5f8fb 100%
    );
  }
}
