.wrapper {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.anim {
  margin-top: -5px;
  margin-bottom: -5px;
}
.spanWrapper {
  display: inline-block;
  line-height: 3.3rem;
  padding-right: 0.1rem;
  width: fit-content;
  background: linear-gradient(to right, rgb(97, 98, 246), rgb(74, 134, 247))
    text;
}
.divWrapper {
  height: 3.3rem;
  display: grid;
  position: relative;
}
.container {
  border: 0.1rem solid rgb(150, 152, 157);
  border-radius: 1.2rem;
  display: inline-block;
  margin-left: 0;
  padding: 0 0.8rem;
  overflow: hidden;
  vertical-align: text-top;
  white-space: pre;
  transition: width 0.8s ease-in-out 0s;
  width: 0;
}

.slide-enter {
  transform: translateY(100%);
}
.slide-enter-active {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out 0s;
}
.slide-enter-done {
  position: absolute;
  top: -3.2rem;
}
.slide-exit {
  transform: translateY(-100%);
}
.slide-exit-active {
  transform: translateY(-200%);
  transition: transform 1000ms ease-in-out 0s;
}
.slide-exit-done {
}
