.root {
  padding: 150px 0 100px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 55px 0 37px;
  }
}
