.root {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 7.625rem 0 9rem;
}
.wrapper {
  max-width: 610px;
}
.p {
  color: var(--background-color);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: -20px;
  margin-top: 2rem;
  max-width: 640px;
}
.title {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}
.form {
  display: flex;
  margin-top: 1.75rem;
  margin-bottom: -4px;
}
.inputWrapper {
  display: flex;
  width: 100%;
  margin-right: 1.125rem;
  position: relative;
}

.input {
  border: 0;
  border-radius: 10px;
  padding: 0.9375rem 1.25rem;
  outline: none;
  flex: 1;
}

input[type='text'] {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: rgba(255, 255, 255, 0.92);
}

.error {
  color: red;
  background: rgb(204, 208, 211);
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  bottom: -25px;
  right: -10px;
}

@media (max-width: 768px) {
  .root {
    padding: 3.375rem 1.125rem 4rem;
  }

  .title {
    font-size: 1.875rem;
    line-height: 3.125rem;
  }
  .form {
    flex-direction: column;
    align-items: center;
    margin-top: 2.75rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  .inputWrapper {
    margin-right: 0;
  }

  .buttonWrapper {
    width: 100%;
  }

  .buttonWrapper > button {
    width: 100%;
  }
}
