.root {
  position: relative;
}

.container {
  display: flex;
  padding-bottom: 80px;
}
.linksContainer {
  display: grid;
  flex: 0.8;
  grid-template-columns: repeat(auto-fit, minmax(173px, auto));
  column-gap: 130px;
  padding-left: 15%;
}
.linkColumn {
  display: flex;
  flex-direction: column;
}
.columnTitle {
  font-size: 23px;
  font-weight: 600;
  line-height: 31px;
  color: var(--main-text-color);
  padding-bottom: 24px;
  word-spacing: nowrap;
}

.backToTop {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0;
  }
  .linksContainer {
    padding: 0;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  }
  .columnTitle {
    margin-top: 34px;
    font-size: 20px;
    line-height: 27px;
  }
  hr {
    margin-top: 34px;
  }
  .backToTop {
    font-size: 13px;
    line-height: 18px;
  }
  .copyrightContainer {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .linksContainer {
    padding: 0;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
  }
}
