.root {
  position: relative;
  padding-top: 82px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  padding-bottom: 80px;
}
.linksContainer {
  display: grid;
  flex: 0.8;
  grid-template-columns: repeat(auto-fit, minmax(130px, auto));
  column-gap: 130px;
  row-gap: 30px;
  padding-left: 15%;
}
.linkColumn {
  display: flex;
  flex-direction: column;
}
.columnTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text-color);
  padding-bottom: 18px;
  word-spacing: nowrap;
}

.backToTop {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929cad;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 84px 6.6667% 20px;
  }
  .container {
    flex-direction: column;
    padding: 0;
  }
  .linksContainer {
    padding: 0;
    gap: 15px 15px;
    grid-template-columns: repeat(auto-fit, minmax(148px, auto));
  }
  .columnTitle {
    margin-top: 34px;
  }
  hr {
    margin-top: 34px;
  }
  .backToTop {
    font-size: 13px;
    line-height: 18px;
  }
  .copyrightContainer {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .linksContainer {
    padding: 0;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
  }
}
