.root {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}

.button {
  all: unset;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  transition: 0.4s;
  border-style: none;
}

.listWrapper {
  margin-top: 20px;
}

.panel {
  padding: 0 24px;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.active {
}

.iconExpanded {
  height: 6px;
  transform: rotate(180deg);
  transform-origin: center center;
  transition: transform 0.25s linear;
}

.iconCollapsed {
  height: 6px;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.25s linear;
}

.svgIcon {
  display: block;
}

.title {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
}
